header {
    display: flex;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 20px;
}

header nav ul li a {
    padding: 40px 45px;
    font-weight: lighter;
    font-size: 28px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

.container {
    margin: 40px;
    
}

.card {
    margin: 20px;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 20px;
}

footer ul li  {
    padding: 20px;
    font-weight: lighter;
    font-size: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

footer {
    
    display: flex;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  
}

.img {
    margin: 45px;
    
}